.section {
  margin-bottom: 3rem;
}

.title {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-direction: row;  /* AGREGAR */
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: 2px solid #ddd;
}